# Exercises
The git for the book has answers to the exercise sections, but they are one liners. 
This is for people like me (likely new and learning) that appreciate building up to an answer in a more comprehensive way.

Amazing Book! Thank you Stefanie Molin.

## Question 1
Find the 95th percentile of earthquake magnitude in Japan using the magType of 'mb'.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('handsOnDataAnalysis/ch_02/data/parsed.csv')

In [12]:
# First figure out the place
df.place.str.contains(r'Japan')
# this is a mask (a boolean mask), it'll help filtering our data. 


# Using the mask we now have a DataFrame with readings from only Japan. 
df[df.place.str.contains(r'Japan')]
only_japan = df[df.place.str.contains(r'Japan')]

In [14]:
# Next part of the question is about using just the magType of 'mb'. 
# We use a different mask:
only_japan.magType == 'mb'
only_japan_magType_mb = only_japan[only_japan.magType == 'mb']

In [15]:
# Finally we calculate the 95th percentile of earthquake magnitude on 
# this set. 
only_japan_magType_mb.mag.quantile(0.95)

4.9

## Question 2
Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.

In [25]:
# Using a mask like in the previous question
only_indonesia = df[df.place.str.contains(r'Indonesia')]


# make a subset using another mask (for earthquakes coupled with tsunamis)
tsunamis_in_indonesia = only_indonesia[only_indonesia.tsunami == 1]


# the shape shows everything we need for the percentage...
(tsunamis_in_indonesia.shape, only_indonesia.shape)
# there are two tuples in this tuple. 
# the first tuple is (34, 27), it is the shape of tsunamis_in_indonesia
# 34 is the number of records... and that's what we need.

((34, 27), (147, 27))

In [30]:
# to calculate the percentage
# compare the first item of each tuple item (the record count aka number_of_rows)
percentage = (tsunamis_in_indonesia.shape[0] / only_indonesia.shape[0]) * 100

print('Percentage of earthquakes in Indonesia coupled with tsunamis:', \
    round(percentage, 2), '%')

Percentage of earthquakes in Indonesia coupled with tsunamis: 23.13 %

## Question 3
Get summary statistics for earthquakes in Nevada.

In [35]:
# Similar strategy here, use a mask to filter Nevada entries
only_nevada = df[df.place.str.contains(r'Nevada')]

only_nevada.shape  # there are 677 records.


# run the built-in summary statistics method.
only_nevada.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,677.000000,15.000000,677.000000,677.000000,1.00,677.000000,677.000000,677.000000,6.770000e+02,677.0,677.0,6.770000e+02
mean,2.440000,0.166982,2.400000,154.029527,0.491728,2.84,12.608567,0.151909,10.688331,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166400,4.626013,68.769713,0.689560,NaN,9.890620,0.084742,19.252727,5.954070e+08,0.0,0.0,6.000267e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.054000,1.000000,97.670000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.113000,1.000000,149.550000,0.400000,2.84,9.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.234000,1.000000,200.470000,0.900000,2.84,16.000000,0.186700,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

## Question 4
Add a column to the dataframe indicating whether or not the earthquake happened in a country or US state that is on the Ring of Fire. Use Bolivia, Chile, Ecuador, Peru, Costa Rica, Guatemala, Mexico (be careful not to select New Mexico), Japan, Philippines, Indonesia, New Zealand, Antartica (look for Antartic), Canada, Fiji, Alaska, Washington, California, Russia, Taiwan, Tonga, and Kermadec Islands.

## Question 5
Calculate the number of earthquakes in the Ring of Fire locations and the number outside them.

## Question 6
Find the tsunami count along the Ring of Fire.